.Rproj.user
.Rhistory
.RData
inst/doc
src/PGRdup.dll
src/fdouble_metaphone.o
src/register.o
Release.R
docs/articles/Introduction.pdf
desktop.ini
vignettes/Introduction.log
vignettes/Introduction.tex
vignettes/Introduction.out
.DS_Store
.httr-oauth
