name: rchk

on:
  workflow_dispatch:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]
  schedule:
    - cron: '0 0 * * 0'

jobs:
  rchk:
    runs-on: ubuntu-latest

    container:
      image: rhub/rchk:latest

    steps:
      - name: Checkout package
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          Rscript -e 'install.packages(c("remotes","knitr","rmarkdown", "XML", "data.table", "igraph", "stringi", "ggplot2", "gridExtra"), repos="https://cloud.r-project.org")'
          Rscript -e 'remotes::install_deps(dependencies = TRUE)'

      - name: Build package
        run: |
          R CMD build .

      - name: Run rchk
        run: |
          PKG_TAR=$(ls *.tar.gz)
          Rscript -e 'rchk::rchk("$PKG_TAR")'
